h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 9, 131);
}

h4 {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

mat-form-field {
    width: 100%;
    font-size: 11px;
}

.btn {
    justify-content: center;
}