.footer {
    background-color: #F8FAFD;
    z-index: 99;
    position: fixed;
    border: 1px solid black;
    bottom: 0px;
}

.footer1 {
    padding: 0px 10px;
    color: black;
    text-align: left;
    font-size: 13px;
    height: 60px;
}

.icon {
    font-size: 15px;
}

.spacer {
    flex: 1 1 auto;
}

.footer2 {
    position: fixed;
    bottom: 0px;
    width: 79%;
    color: black;
    text-align: right;
    font-size: 13px;
    height: 68px;
}

.logo img {
    width: 50px;
}

.logo_name {
    display: inline-block;
    font-size: 13px;
}