<mat-toolbar class="footer">
    <mat-toolbar-row>
        <span class="footer1">
            <mat-icon class="icon">copyright</mat-icon>
            {{data?.c_name}}
            <br/>
            Địa điểm trụ sở: {{data?.c_address}}
        </span>
        <span class="spacer"></span>
        <span class="footer2">
            Phát triển bởi NhanDEV
        <br/> Phiên bản 1.0.0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </mat-toolbar-row>
</mat-toolbar>