<div class="header">
    <div class="name_logo"><img src="../../../assets/image/logo.png" alt="logo">Trung Tâm Đào Tạo NhanDV</div>
    <div class="menu">
        <div><a [routerLink]="['/home']" routerLinkActive="router-link-active">Trang chủ</a></div>
        <div id="course">
            <a>Khóa học</a>
            <ul>
                <li><a [routerLink]="['/front/course/b1']" routerLinkActive="router-link-active">Khóa học B1</a></li>
                <li><a [routerLink]="['/front/course/b2']" routerLinkActive="router-link-active">Khóa học B2</a></li>
                <li><a [routerLink]="['/front/course/c1']" routerLinkActive="router-link-active">Khóa học C1</a></li>
            </ul>
        </div>
        <div><a [routerLink]="['/front/introduce']" routerLinkActive="router-link-active">Giới thiệu</a></div>
        <div><a [routerLink]="['/front/contact']" routerLinkActive="router-link-active">Liên hệ</a></div>
        <div><a [routerLink]="['/front/question']" routerLinkActive="router-link-active">Câu hỏi thường gặp?</a></div>
        <div class="btn_login">
            <a *ngIf="!isLogin" id="btn-login" (click)="Login()" mat-raised-button color="primary">Đăng nhập</a>
            <button *ngIf="isLogin" mat-button [matMenuTriggerFor]="menu"><img [src]="data?.image"> {{data?.name}}<mat-icon>expand_more</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button (click)="logOut()" mat-menu-item><mat-icon>logout</mat-icon> Đăng xuất</button>
            </mat-menu>
        </div>
    </div>
    <div class="clear"></div>
</div>