<div class="header">
    <div class="name_logo"><img src="../../../assets/image/logo.png" alt="logo">Trung Tâm Đào Tạo NhanDV</div>
    <div class="menu">
        <div><a [routerLink]="['/home']" routerLinkActive="router-link-active">Trang chủ</a></div>
        <div id="course">
            <a href="#">Khóa học</a>
            <ul>
                <li><a href="">Khóa học B1</a></li>
                <li><a href="">Khóa học B2</a></li>
                <li><a href="">Khóa học C1</a></li>
            </ul>
        </div>
        <div><a [routerLink]="['/front/introduce']" routerLinkActive="router-link-active">Giới thiệu</a></div>
        <div><a href="">Liên hệ</a></div>
        <div><a href="">Câu hỏi thường gặp?</a></div>
        <div><button mat-raised-button color="primary">Đăng nhập</button></div>
    </div>
    <div class="clear"></div>
</div>