<div class="content">
    <h2>Chi tiết giáo viên</h2>
    <div class="btn_back">
        <a [routerLink]="['/admin/class']" routerLinkActive="router-link-active">
            <mat-icon>keyboard_backspace</mat-icon>Quay lại
        </a>
    </div>
    <div class="btn-detail">
        <a [routerLink]="['/admin/class/edit/'+id]" routerLinkActive="router-link-active" mat-raised-button color="primary">Cập nhật</a>
        <a [routerLink]="['/admin/timetable/'+id]" routerLinkActive="router-link-active" mat-raised-button color="primary">Quản lý thời khóa biểu</a>
        <button mat-raised-button color="primary">Xóa lớp học</button>
    </div>
    <div class="info">
        <h4>Thông tin chi tiết:</h4>
        <mat-grid-list cols='6' rowHeight='35px' style="width: 90%; margin: 0 auto;">
            <mat-grid-tile class="list_header">Tên lớp học:</mat-grid-tile>
            <mat-grid-tile class="bold">{{ data?.cla_name }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Giáo viên chủ nhiệm:</mat-grid-tile>
            <mat-grid-tile class="border-right">
                <span *ngIf="data?.tea_name" style="color: blue; font-weight: bold;"> {{data?.tea_name}} </span>
                <span *ngIf="!data?.tea_name" style="color: red; font-weight: bold;"> Chưa phân công </span>
            </mat-grid-tile>

            <mat-grid-tile class="list_header">Học phí:</mat-grid-tile>
            <mat-grid-tile>{{ data?.cla_fee | number }} VNĐ</mat-grid-tile>

            <mat-grid-tile class="list_header">Mã khóa học:</mat-grid-tile>
            <mat-grid-tile class="bold red">{{ data?.cou_name }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Số lượng học viên:</mat-grid-tile>
            <mat-grid-tile class="border-right">{{data?.cla_number}}/{{data?.cla_quantity}}</mat-grid-tile>

            <mat-grid-tile class="list_header">Ngày khai giảng:</mat-grid-tile>
            <mat-grid-tile>{{ data?.cla_start | date : 'dd/MM/yyyy' }}</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="table">
        <h4>Danh sách học viên:</h4>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                <td mat-cell *matCellDef="let i= index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã học viên </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_code}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên học viên </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_name}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_phone}} </td>
            </ng-container>
            <!-- 
            <ng-container matColumnDef="stu_count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số buổi học </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_start}} </td>
            </ng-container> -->

            <ng-container matColumnDef="de_paidFee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                <td mat-cell *matCellDef="let element">
                    <span class="badge-primary" *ngIf="element.de_paidFee == 0">Chưa đóng học phí</span>
                    <span class="badge-info" *ngIf="element.de_paidFee == 1">Đã đóng học phí</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="re_result">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Kết quả </th>
                <td mat-cell *matCellDef="let element">
                    <span style="color: #707070; font-weight: 600;" *ngIf="element.re_result == null">Chưa có</span>
                    <span style="color: #0d6efd; font-weight: 600;" *ngIf="element.re_result == 1">Đậu</span>
                    <span style="color: red; font-weight: 600;" *ngIf="element.re_result == 0">Trượt</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành động</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item [routerLink]="['/admin/student/detail/'+element.stu_id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #419ff7;">visibility</mat-icon> Thông tin học viên
                        </a>
                        <a mat-menu-item [routerLink]="['/admin/class/regis/'+ element.stu_id +'/'+element.de_id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #024888;">border_color</mat-icon>Cập nhật trạng thái</a>
                        <a mat-menu-item (click)="openDialog(element.de_id)">
                            <mat-icon style="color: #cabd00;">ballot</mat-icon>Cập nhật kết quả</a>
                        <a mat-menu-item (click)="deleteUserInClass(element.de_id)">
                            <mat-icon style="color: red;">delete</mat-icon>Xóa học viên</a>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>