<div class="content">
    <h2>Chi tiết Lớp học</h2>
    <div class="btn_back">
        <a [routerLink]="['/admin/class']" routerLinkActive="router-link-active">
            <mat-icon>keyboard_backspace</mat-icon>Quay lại
        </a>
    </div>
    <div class="btn-detail">
        <a *ngIf="data?.cla_status != 1" [routerLink]="['/admin/class/edit/'+id]" routerLinkActive="router-link-active" mat-raised-button color="primary">Cập nhật</a>
        <a [routerLink]="['/admin/timetable/'+id]" routerLinkActive="router-link-active" mat-raised-button color="primary">Quản lý thời khóa biểu</a>
        <a [routerLink]="['/admin/class/diaries/'+id]" routerLinkActive="router-link-active" mat-raised-button color="primary">Nhật ký giảng dạy</a>
        <button mat-raised-button color="primary" printSectionId="print" ngxPrint>In danh sách</button>
        <button mat-raised-button color="primary" (click)="deleteClass(id)">Xóa lớp học</button>
    </div>
    <div class="info">
        <h4>Thông tin chi tiết:</h4>
        <mat-grid-list cols='6' rowHeight='35px' style="width: 90%; margin: 0 auto;">
            <mat-grid-tile class="list_header">Tên lớp học:</mat-grid-tile>
            <mat-grid-tile class="bold">{{ data?.cla_name }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Giáo viên chủ nhiệm:</mat-grid-tile>
            <mat-grid-tile class="border-right">
                <span *ngIf="data?.tea_name" style="color: blue; font-weight: bold;"> {{data?.tea_name}} </span>
                <span *ngIf="!data?.tea_name" style="color: red; font-weight: bold;"> Chưa phân công </span>
            </mat-grid-tile>

            <mat-grid-tile class="list_header">Mã giáo viên:</mat-grid-tile>
            <mat-grid-tile>
                <span *ngIf="data?.tea_name" style="color: blue; font-weight: bold;"> {{data?.tea_code}} </span>
                <span *ngIf="!data?.tea_name"></span>
            </mat-grid-tile>

            <mat-grid-tile class="list_header">Mã khóa học:</mat-grid-tile>
            <mat-grid-tile class="bold red">{{ data?.cou_name }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Số lượng học viên:</mat-grid-tile>
            <mat-grid-tile class="border-right">{{data?.cla_number}}/{{data?.cla_quantity}}</mat-grid-tile>

            <mat-grid-tile class="list_header">Ngày khai giảng:</mat-grid-tile>
            <mat-grid-tile>{{ data?.cla_start | date : 'dd/MM/yyyy' }}</mat-grid-tile>

            <mat-grid-tile class="list_header">Mã lớp:</mat-grid-tile>
            <mat-grid-tile class="bold red">{{ data?.cla_code }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Học phí:</mat-grid-tile>
            <mat-grid-tile class="border-right">{{ data?.cla_fee | number }} VNĐ</mat-grid-tile>

            <mat-grid-tile class="list_header">Trạng thái lớp học:</mat-grid-tile>
            <mat-grid-tile>{{(data?.status == 0) ? 'Đang mở': 'Hoàn thành'}}</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div id="print">
        <div class="print-header" style="margin-top: 10px; margin-bottom: 25px;">
            <h2 style="color: black; text-align: center; text-transform: uppercase; margin-bottom: 0px;">DANH SÁCH HỌC VIÊN LỚP {{data?.cla_name}} - {{data?.cla_code}}</h2>
            <h2 style="color: black; text-align: center;">KHÓA: {{data?.cla_course}} - HẠNG: {{data?.cou_name}}</h2>
        </div>
        <table border="1" style="border-collapse: collapse;width: 98%; margin: auto; font-size: 10px;">
            <thead>
                <tr style="height: 30px;">
                    <th>STT</th>
                    <th>Mã SV</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>SĐT</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th>Kết quả</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 30px;" *ngFor="let item of dataStudent; let i = index">
                    <td style="text-align: center;">{{i+1}}</td>
                    <td>{{item.stu_code}}</td>
                    <td>{{item.stu_name}}</td>
                    <td>{{item.stu_email}}</td>
                    <td>{{item.stu_phone}}</td>
                    <td>{{item.stu_gender == 0 ? 'Nữ': 'Nam'}}</td>
                    <td>{{item.stu_birthday | date: 'dd/MM/yyyy'}}</td>
                    <td><span *ngIf="item.re_result==1">Đậu</span><span *ngIf="item.re_result==0">Rớt</span></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table">
        <h4>Danh sách học viên:</h4>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                <td mat-cell *matCellDef="let i= index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã học viên </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_code}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên học viên </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_name}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_phone}} </td>
            </ng-container>

            <ng-container matColumnDef="stu_count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Điểm danh </th>
                <td mat-cell *matCellDef="let element"> {{element.stu_count}}/{{data?.cla_count}} </td>
            </ng-container>

            <ng-container matColumnDef="pay_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                <td mat-cell *matCellDef="let element">
                    <span class="badge-danger" *ngIf="element.pay_type == null">Chưa đóng học phí</span>
                    <span class="badge-success" *ngIf="element.pay_type != null">Đã đóng học phí</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="re_result">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Kết quả </th>
                <td mat-cell *matCellDef="let element">
                    <span style="color: darkgray;" *ngIf="element.re_result == null">Chưa thi</span>
                    <span style="color: red; font-weight: bold;" *ngIf="element.re_result == 0">Trượt</span>
                    <span style="color: blue; font-weight: bold;" *ngIf="element.re_result == 1">Đậu</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành động</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item [routerLink]="['/admin/student/detail/'+element.stu_id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #419ff7;">visibility</mat-icon> Thông tin chi tiết
                        </a>
                        <!-- <a mat-menu-item [routerLink]="['/admin/class/regis/'+ element.stu_id +'/'+element.de_id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #024888;">border_color</mat-icon>Cập nhật thanh toán</a> -->
                        <!-- <a *ngIf="data?.cla_status == 1" mat-menu-item (click)="openDialog(element.de_id)">
                            <mat-icon style="color: #cabd00;">ballot</mat-icon>Cập nhật kết quả</a> -->
                        <a mat-menu-item (click)="deleteUserInClass(element.de_id)">
                            <mat-icon style="color: red;">delete</mat-icon>Xóa học viên</a>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>