<nav class="sidenav">
    <!-- <div class="logo py-4">
        <img src="../../../assets/image/logo.png" alt="logo">
    </div> -->
    <h2 id="ctName">Hệ thống quản lý đăng ký và học lái xe</h2>
    <ul>
        <li>
            <a (click)="showUser = !showUser">
                <mat-icon>manage_accounts</mat-icon>Quản lý tài khoản
                <mat-icon class="{{ showUser ? 'expand  expand_active': 'expand' }}">expand_more</mat-icon>
            </a>
            <ul *ngIf="showUser">
                <li>
                    <a routerLink="/admin/user/add" routerLinkActive="router-link-active">
                        <mat-icon>person_add</mat-icon>Thêm mới tài khoản</a>
                    <a routerLink="/admin/user" routerLinkActive="router-link-active">
                        <mat-icon>people</mat-icon>Danh sách tài khoản</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="showStudent = !showStudent">
                <mat-icon>school</mat-icon>Quản lý học viên
                <mat-icon class="{{ showStudent ? 'expand  expand_active': 'expand' }}">expand_more</mat-icon>
            </a>
            <ul *ngIf="showStudent">
                <li>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>person_add_alt</mat-icon>Thêm mới học viên</a>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>list_alt</mat-icon>Học viên đăng ký</a>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>view_list</mat-icon>Danh sách học viên</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="showCourse = !showCourse">
                <mat-icon>assignment</mat-icon>Quản lý khóa học
                <mat-icon class="{{ showCourse ? 'expand  expand_active': 'expand' }}">expand_more</mat-icon>
            </a>
            <ul *ngIf="showCourse">
                <li>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>post_add</mat-icon>Thêm mới khóa học</a>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>view_list</mat-icon>Danh sách khóa học</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="showClass = !showClass">
                <mat-icon>store</mat-icon>Quản lý lớp học
                <mat-icon class="{{ showClass ? 'expand  expand_active': 'expand' }}">expand_more</mat-icon>
            </a>
            <ul *ngIf="showClass">
                <li>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>list_alt</mat-icon>Thêm lớp học mới</a>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>class</mat-icon>Danh sách lớp học</a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="showTeacher = !showTeacher">
                <mat-icon>accessibility_new</mat-icon>Quản lý giáo viên
                <mat-icon class="{{ showTeacher ? 'expand  expand_active': 'expand' }}">expand_more</mat-icon>
            </a>
            <ul *ngIf="showTeacher">
                <li>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>person_add_alt</mat-icon>Thêm mới giáo viên</a>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>man</mat-icon>Danh sách giáo viên</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">
                <mat-icon>date_range</mat-icon>Phân công giảng dạy</a>
        </li>
        <li>
            <a href="">
                <mat-icon>contact_phone</mat-icon>Liên hệ</a>
        </li>
        <li>
            <a (click)="showStatistic = !showStatistic">
                <mat-icon>dashboard</mat-icon>Thống kê báo cáo
                <mat-icon class="{{ showStatistic ? 'expand  expand_active': 'expand' }}">expand_more</mat-icon>
            </a>
            <ul *ngIf="showStatistic">
                <li>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>leaderboard</mat-icon>Thống kê theo khóa học</a>
                    <a routerLink="/list/businesshousehold" routerLinkActive="router-link-active">
                        <mat-icon>view_list</mat-icon>Thống kê theo giáo viên</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>