<app-breadcrumb name="DS học viên"></app-breadcrumb>
<div class="body">
    <div class="content">
        <h2>Danh sách học viên</h2>
        <!-- <div class="card card-location">
            <h4 class="card-header">Quản lý lớp học</h4>
            <div class="card-content">
                <a [routerLink]="['/front/class/'+id]" routerLinkActive="router-link-active">Lớp học</a>
                <a [routerLink]="['/front/class/student/'+id]" routerLinkActive="router-link-active">Danh sách học viên</a>
                <a [routerLink]="['/front/class/add/'+id]" routerLinkActive="router-link-active">Tạo thông báo mới</a>
                <a [routerLink]="['/front/class/schedule/'+id]" routerLinkActive="router-link-active">Thời khóa biểu</a>
            </div>
        </div> -->
        <app-card-class [type]="type" [cla_id]="id"></app-card-class>
        <div class="nofitication">
            <div id="print">
                <div class="print-header" style="margin-top: 10px; font-size: 15px; margin-bottom: 25px;">
                    <h2 style="color: black; text-align: center; text-transform: uppercase; margin-bottom: 0px;">DANH SÁCH HỌC VIÊN LỚP {{data?.cla_name}}</h2>
                    <h2 style="color: black; text-align: center;">KHÓA: {{data?.cla_course}} - HẠNG: {{data?.cou_name}}</h2>
                </div>
                <table border="1" style="font-size:10px;border-collapse: collapse;width: 98%; margin: auto;">
                    <thead>
                        <tr style="height: 30px;">
                            <th>STT</th>
                            <th>Mã SV</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>SĐT</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height: 30px;" *ngFor="let item of dataStudent; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.stu_code}}</td>
                            <td>{{item.stu_name}}</td>
                            <td>{{item.stu_email}}</td>
                            <td>{{item.stu_phone}}</td>
                            <td>{{item.stu_gender == 0 ? 'Nữ': 'Nam'}}</td>
                            <td>{{item.stu_birthday | date: 'dd/MM/yyyy'}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn">
                <button mat-raised-button color="primary" printSectionId="print" ngxPrint>In danh sách</button>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                    <td mat-cell *matCellDef="let i= index"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="stu_code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã học viên </th>
                    <td mat-cell *matCellDef="let element"> {{element.stu_code}} </td>
                </ng-container>

                <ng-container matColumnDef="stu_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên học viên </th>
                    <td mat-cell *matCellDef="let element"> {{element.stu_name}} </td>
                </ng-container>

                <ng-container matColumnDef="stu_email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.stu_email}} </td>
                </ng-container>

                <ng-container matColumnDef="stu_gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính </th>
                    <td mat-cell *matCellDef="let element"> {{(element.stu_gender == 1)? 'Nữ':'Nam'}} </td>
                </ng-container>

                <ng-container matColumnDef="stu_birthday">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh </th>
                    <td mat-cell *matCellDef="let element"> {{element.stu_birthday | date : 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="stu_phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                    <td mat-cell *matCellDef="let element"> {{element.stu_phone}} </td>
                </ng-container>

                <tr mat-row *matNoDataRow>
                    <td mat-cell colspan="7">Không tìm thấy dữ liệu!!"</td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>