<app-breadcrumb name="Tin tức"></app-breadcrumb>
<div class="body">
    <div class="content">
        <h2>{{data?.n_title}}</h2>
        <div class="content-detail" [innerHTML]="data?.n_content">
        </div>
        <div class="card card-info" *ngIf="data?.cla_id != null">
            <h4 class="card-header">Thông tin khoá học</h4>
            <div class="card-content">
                <p>Tên lớp học: {{dataClass?.cla_name}}</p>
                <p>Mã lớp: <span><b>{{dataClass?.cla_code}}</b></span></p>
                <p>Học phí: <span class="text-danger">{{ dataClass?.cla_fee | number }}vnđ</span></p>
                <p>Ngày khai giảng: {{dataClass?.cla_start | date: 'dd/MM/yyyy'}}</p>
                <p>Thời khóa biểu: {{scheduleData}}</p>
                <div class="btn"><a mat-raised-button [routerLink]="['/front/regis']" routerLinkActive="router-link-active">Đăng ký khóa học</a></div>
            </div>
        </div>
        <div class="card card-course">
            <h4 class="card-header">Các khóa đào tạo</h4>
            <div class="card-content">
                <a [routerLink]="['/front/course/b1']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng B1</a>
                <a [routerLink]="['/front/course/b2']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng B2</a>
                <a [routerLink]="['/front/course/c']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng C</a>
            </div>
        </div>
    </div>

</div>