<app-breadcrumb name="Khoá học B1"></app-breadcrumb>
<div class="body">
    <div class="content">
        <h2>Khóa đào tạo lái xe bằng B1</h2>
        <div class="content-detail">
            <p>Bằng lái xe B1 được biết đến là loại chứng chỉ được cơ quan chức năng có thẩm quyền cấp cho chủ phương tiện điều khiển xe ô tô số tự động, xe tải chuyên dụng phục vụ nhu cầu đi lại cá nhân, gia đình. Đối với bằng B1 thì người lái xe không
                được hành nghề lái xe dưới bất kỳ hình thức nào.</p>
            <p>Bằng lái xe B1 hiện nay được phân chia thành 2 loại bằng nhỏ hơn là bằng lái xe tự động và bằng lái xe số sàn. Trường hợp chủ xe ô tô sở hữu bằng lái xe hạng B1 tự động thì không thể điều khiển xe ô tô số sàn. Tuy nhiên, trường hợp chủ phương
                tiện ô tô sở hữu bằng lái xe số sàn có thể được pháp sử dụng bằng để lái một số loại xe nằm trong danh mục của loại bằng ô tô B1 số tự động.</p>
            <img src="../../../../assets/image/hoc-lai-xe-o-to-tai-da-nang-4.jpg" alt="">

            <h4>Các loại xe ô tô được chạy khi có bằng B1</h4>
            <p>B1 là bằng lái xe thông dụng nhất hiện nay, trong đó bằng B1 được chia làm bằng B1 lái xe tự động và B1 lái xe số sàn. Mỗi loại bằng sẽ được phép điều khiển các loại xe ô tô sau:</p>
            <ul>
                <li>
                    Bằng lái xe B1 số tự động ( bằng B11) cho phép người không hành nghề lái xe điều khiển các loại xe sau:
                    <ul>
                        <li>Ô tô số tự động chở người đến 9 chỗ ngồi, kể cả chỗ ngồi của người lái xe.</li>
                        <li>Ô tô tải kể cả ô tô chuyên dùng số tự động có trọng tải thiết kế dưới 3,5 tấn.</li>
                        <li>Ô tô dùng cho người khuyết tật.</li>
                    </ul>
                </li>
                <li>
                    Bằng lái hạng B12 số sàn cho phép người không hành nghề lái xe để điều khiển các loại xe:
                    <ul>
                        <li>Ô tô số tự động chở người đến 9 chỗ ngồi, kể cả chỗ ngồi của người lái xe.</li>
                        <li>Ô tô tải kể cả ô tô tải chuyên dụng có trọng tải thiết kế dưới 3,5 tấn.</li>
                        <li>Máy kéo kéo rơ moóc có trọng tải thiết kế dưới 3,5 tấn.</li>
                    </ul>
                </li>
            </ul>

            <h4>Độ tuổi được học bằng B1?</h4>
            <p>B1 là bằng lái xe thông dụng và có giá trị sử dụng thấp nhất cho nên tất cả những người từ 18 tuổi trở lên có đủ sức khỏe đều được phép tham gia học và thi để được cấp bằng.</p>
            <p>Bên cạnh đó, độ tuổi không được học, thi và cấp bằng B1 đối với nam là trên 60 và đối với nữ là 55.</p>

            <h4>Thời hạn của bằng lái B1 là bao lâu?</h4>
            <p>Theo quy định mới của bằng lái B1 thì thời hạn của bằng sẽ bằng tuổi nghỉ hưu của người được cấp. Cụ thể đối với nam thì giá trị bằng đến tuổi 60 còn đối với nữ thì 55 tuổi.</p>
            <img src="../../../../assets/image/bang-lai-xe-b136.jpg" alt="">
            <p>Trường hợp nữ trên 45 và nam trên 50 thì giấy phép lái xe được cấp có thời hạn 10 năm kể từ ngày cấp.</p>
        </div>
        <div class="card card-info">
            <h4 class="card-header">Thông tin khoá học</h4>
            <div class="card-content">
                <p>Học phí: <span class="text-danger">8.600.000vnđ</span></p>
                <p>Thời gian đào tạo: <span class="text-info">3 tháng</span></p>
                <p>Số tiết học: 3 buổi/tuần</p>
                <p>Hình thức: <b>Lý thuyết + thực hành(hướng dẫn trực tiếp)</b></p>
                <div class="btn"><button (click)="openDialog()" mat-raised-button>Đăng ký khóa học</button></div>
            </div>
        </div>
        <div class="card card-course">
            <h4 class="card-header">Các khóa đào tạo</h4>
            <div class="card-content">
                <a href="">+ Khóa học lái xe bằng B1</a>
                <a href="">+ Khóa học lái xe bằng B2</a>
                <a href="">+ Khóa học lái xe bằng C1</a>
            </div>
        </div>
    </div>
</div>