* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #ecf3fd;
    padding-bottom: 25px;
}

.body .content {
    width: 70%;
    background-color: white;
    padding: 10px 25px;
    margin: 0 auto;
    overflow: hidden;
}

.body .content h2 {
    font-size: 24px;
    border-bottom: 2px solid black;
    color: #024888;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: uppercase;
}

//content
.content-detail {
    min-width: 585px;
    width: 67%;
    // border: 1px solid black;
    float: left;
}

.content-detail p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 20px;
    text-align: justify;
}

.content-detail h4 {
    font-size: 17px;
    text-align: center;
    color: #024888;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 7px;
}

.content-detail img {
    display: block;
    margin: auto;
    margin-bottom: 7px;
}

//card
.card {
    width: 32%;
    min-width: 315px;
    // border: 1px solid green;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    background-color: #c4c4c45d;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 0px;
    text-align: center;
    margin-bottom: 2px;
}

.card h6 {
    font-size: 15px;
    font-weight: bold;
    padding: 2px 10px;
    margin: 0px;
    margin-top: 12px;
}

.card p {
    font-size: 16px;
    padding-left: 18px;
    padding-right: 10px;
    // margin: 0px;
    margin: 7px 0px;
}

.card-content .btn {
    text-align: center;
}

.card-content .btn button {
    background-color: #CE2439;
    color: white;
}

.text-danger {
    color: red;
    font-weight: bold;
}

.text-info {
    color: #131E83;
    font-weight: bold;
}

.card-info h4 {
    background-color: #902727;
}

.card-course h4 {
    background-color: #1B75BB;
}

.card-course .card-content {
    display: flex;
    flex-direction: column;
}

.card-course .card-content a {
    display: block;
    color: #0083C9;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 15px;
}