<div class="content">
    <div class="thongke">
        <div class="card card-student">
            <h2>Tổng số học viên</h2>
            <p>{{countStudent}}</p>
        </div>
        <div class="card card-teacher">
            <h2>Tổng số giáo viên</h2>
            <p>{{countTeacher}}</p>
        </div>
        <div class="card card-class">
            <h2>Tổng số lớp học</h2>
            <p>{{countClass}}</p>
        </div>
        <div class="card card-contact">
            <h2>Tổng số góp ý</h2>
            <p>{{countContact}}</p>
        </div>
    </div>
    <div>
        <div class="statistic" id="lineChart">
            <h4>Biểu đồ thống kê số lượng học viên đăng ký học theo từng khóa</h4>
            <div style="display: block;">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>

        <div id="pieChart">
            <div class="statistic">
                <h4>Biểu đồ thống kê số lượng học viên của các khóa học</h4>
                <div style="display: block">
                    <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" [colors]="polarAreaChartColors">
                      </canvas>
                </div>
            </div>

            <div class="statistic statistic_end">
                <h4>Biểu đồ thống kê tỷ lệ thi đậu của học viên</h4>
                <div class="chart">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>