<!-- <div class="body">
    <app-toolbar></app-toolbar> -->
<div class="content">
    <h2>Danh sách liên hệ</h2>
    <div class="table">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="con_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                <td mat-cell *matCellDef="let i= index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="con_new">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.con_new == 1" class="badge-danger">mới</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="con_email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
                <td mat-cell *matCellDef="let element"> {{element.con_email}}</td>
            </ng-container>

            <ng-container matColumnDef="con_title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiêu đề </th>
                <td mat-cell *matCellDef="let element"> {{element.con_title}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành động</th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="icon" style="color: blue;" [routerLink]="['/admin/contact/'+element.con_id]" routerLinkActive="router-link-active">visibility</mat-icon>
                    <mat-icon class="icon" style="color: red;" (click)="deleteContact(element.con_id)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>