<!-- <div class="body">
    <app-toolbar></app-toolbar> -->
<div class="content">
    <h2>Danh sách tài khoản</h2>
    <div class="search">
        <mat-grid-list cols="4" rowHeight="4:1">
            <mat-grid-tile>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Tên tài khoản</mat-label>
                    <input matInput name="email" [(ngModel)]="email">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Họ và tên</mat-label>
                    <input matInput name="name" [(ngModel)]="name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Loại tài khoản</mat-label>
                    <mat-select name="type" [(ngModel)]="type">
                        <mat-option value="3">Tất cả</mat-option>
                        <mat-option value="0">Học viên</mat-option>
                        <mat-option value="1">Giáo viên</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="search_btn">
                <button mat-raised-button color="primary" (click)="onSearch()">Tìm kiếm</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="table">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                <td mat-cell *matCellDef="let i= index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tài khoản </th>
                <td mat-cell *matCellDef="let element"> {{ element.user}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Loại tài khoản </th>
                <td mat-cell *matCellDef="let element">
                    <span class="badge-primary" *ngIf="element.type == 0">Học viên</span>
                    <span class="badge-info" *ngIf="element.type == 1">Giáo viên</span>
                    <span class="badge-warning" *ngIf="element.type == 2">Quản trị</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="isDelete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.isDelete == 0" style="font-weight: bold; color: green; font-family: Arial, Helvetica, sans-serif;">Hoạt động</span>
                    <span *ngIf="element.isDelete == 1" style="font-weight: bold; color: red; font-family: Arial, Helvetica, sans-serif;">Đã khóa</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành động</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu" *ngIf="element.type != 2"><mat-icon>more_horiz</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <!-- <a mat-menu-item [routerLink]="['/admin/user/edit/'+ element.id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #024888;">border_color</mat-icon>Cập nhật</a> -->
                        <a *ngIf="element.type == 1" mat-menu-item (click)="onPermission(element.user)">
                            <mat-icon style="color: #64C9CF;">dns</mat-icon>Phân quyền</a>
                        <a mat-menu-item (click)="resetPassUser(element.user)">
                            <!-- Cần test lại chức năng -->
                            <mat-icon style="color: #FFB319;">history</mat-icon>Đặt lại mật khẩu</a>
                        <a mat-menu-item *ngIf="element.isDelete==0" (click)="clockUser(element.user)">
                            <mat-icon style="color: red;">lock</mat-icon>Khóa tài khoản</a>
                        <a mat-menu-item *ngIf="element.isDelete==1" (click)="unclockUser(element.user)">
                            <mat-icon style="color: green;">lock_open</mat-icon>Mở khóa tài khoản</a>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
<!-- <app-back-footer></app-back-footer>
</div> -->