<div class="content">
    <h2>Thống kê báo cáo theo khóa học</h2>
    <div class="form_statistic">
        <mat-form-field appearance="outline">
            <mat-label>Khóa học</mat-label>
            <mat-select [(ngModel)]="cou_id">
                <mat-option *ngFor="let item of courseData" [value]="item.cou_id">{{item.cou_name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onStatistic()">Thống kê</button>
    </div>
    <div>
        <div class="statistic" id="lineChart">
            <h4>Biểu đồ thống kê số lượng học viên đăng ký học</h4>
            <div style="display: block;">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>

        <div class="statistic">
            <h4>Biểu đồ thống kê tỷ lệ thi đậu của học viên</h4>
            <div class="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
                  </canvas>
            </div>
        </div>
    </div>
</div>