<app-breadcrumb name="Khoá học"></app-breadcrumb>
<div class="body">
    <div class="content">
        <h2>Khóa đào tạo lái xe bằng {{data?.cou_name}}</h2>
        <div class="content-detail" [innerHTML]="data?.cou_content">
        </div>
        <div class="card card-info">
            <h4 class="card-header">Thông tin khoá học</h4>
            <div class="card-content">
                <div *ngFor="let element of dataClass">
                    <p>Lớp học: <span class="class_name">{{element.cla_name}}</span></p>
                    <p>Học phí: <span class="class_fee">{{element.cla_fee |number}} VNĐ</span></p>
                    <p>Ngày khai giảng: {{element.cla_start | date: 'dd/MM/yyyy'}}</p>
                    <p>Số lượng: {{element.cla_number}}/{{element.cla_quantity}}</p>
                    <a mat-button color="warn" [routerLink]="['/front/regis']" routerLinkActive="router-link-active">Đăng ký khóa học</a>
                </div>
                <div class="class_none" *ngIf="length">
                    Chưa có lớp học xắp khai giảng
                </div>
            </div>
        </div>
        <div class="card card-course">
            <h4 class="card-header">Các khóa đào tạo</h4>
            <div class="card-content">
                <a [routerLink]="['/front/course/b1']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng B1</a>
                <a [routerLink]="['/front/course/b2']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng B2</a>
                <a [routerLink]="['/front/course/C']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng C</a>
                <a [routerLink]="['/front/course/D']" routerLinkActive="router-link-active">+ Khóa học lái xe bằng D</a>
            </div>
        </div>
    </div>
</div>