<div id="footer">
    <div class="content">
        <div>
            <h2>Trung tâm đào tạo lái xe cơ giới NHANDV</h2>
            <table>
                <tr>
                    <td style="width: 70px;">Địa chỉ:</td>
                    <td>Tòa nhà số 35 đường số 11, Phường 13, Quận 6. TP HCM</td>
                </tr>
                <tr>
                    <td>Liên hệ:</td>
                    <td>0399584884 (thầy Tân)</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>trungtam@hoclaixenhandv.com</td>
                </tr>
            </table>
            <div class="footer-contact">
                <a href=""><img src="../../../assets/image/facebook.png" alt="facebook"></a>
                <a href=""><img src="../../../assets/image/gmail.png" alt="gmail"></a>
                <a href=""><img src="../../../assets/image/zalo.webp" alt="zalo"></a>
            </div>
        </div>
        <div>
            <h2>Địa chỉ:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15679.042186736146!2d106.626621!3d10.752929!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa960559c7ac72e33!2zVHLGsOG7nW5nIEThuqF5IEzDoWkgWGUgVGnhur9uIFRow6BuaA!5e0!3m2!1svi!2s!4v1632211783889!5m2!1svi!2s"
                width="100%" height="120" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>