.content {
    background-color: white;
    width: 98%;
    box-shadow: 1px 1px 5px rgb(172, 172, 172);
    margin: 10px auto;
    padding-top: 2px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    min-height: calc(100vh - 180px);
    position: relative;
}

.content h2 {
    margin: 15px 10px;
    font-size: 24px;
    border-bottom: 1px solid black;
    color: #024888;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: uppercase;
}

.btn_back {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 1px solid black;
}

.btn_back a {
    // display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.info {
    padding: 0px 25px;
}

.info h4 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}

.table-info {
    width: 100%;
    padding: 0px 15px;
    border-collapse: collapse;
    font-size: 13px;
    // border-collapse: 1px;
}

.table-info th {
    font-weight: normal;
    padding-left: 30px;
    text-align: left;
}

.table-info tr {
    height: 40px;
}

.con_content {
    padding-left: 20px;
}

.con_content h6 {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.con_content p {
    font-size: 13px;
    margin-bottom: 0px;
}

.btn {
    display: block;
    text-align: right;
    padding-right: 20px;
}