<div class="body">
    <h2>Hệ thống quản lý <br> đăng ký và học lái xe</h2>
    <div class="form_login">
        <h4>Đăng nhập</h4>
        <mat-error *ngIf="!dangnhap">Tài khoản hoặc mật khẩu không chính xác!</mat-error>
        <form (ngSubmit)="submitLogin()">
            <mat-form-field appearance="outline" style="width: 90%">
                <mat-label>Email</mat-label>
                <input type="text" name="email" matInput [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 90%">
                <mat-label>Password</mat-label>
                <input type="password" name="password" matInput [(ngModel)]="password">
            </mat-form-field>
            <div class="form-btn"><button type="submit" mat-raised-button color="primary">Đăng nhập</button></div>
        </form>
    </div>
</div>