<app-breadcrumb name="Tin tức"></app-breadcrumb>
<div class="body">
    <div class="content">
        <h2>Tin tức</h2>
        <div class="content-2">
            <div class="search">
                <form (ngSubmit)="onSearch()">
                    <input type="text" name="search" [(ngModel)]="search">
                    <button><mat-icon>search</mat-icon></button>
                </form>
            </div>
            <div class="course" *ngFor="let element of data">
                <div class="course-image"><img [src]="element.n_image" alt="Ảnh đại diện khóa học"></div>
                <div class="course-detail">
                    <h2 class="course-name">{{element.n_title}}</h2>
                    <p class="course-describe">{{element.n_summary}}</p>
                </div>
                <div class="button">
                    <a [routerLink]="['/front/news/'+element.n_id]" routerLinkActive="router-link-active" mat-raised-button color="primary">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>