<div class="content-1">
    <div class="content">
        <div class="content-index">
            <h2>Trung tâm đào tạo</h2>
            <h2>lái xe ô tô</h2>
            <h2>nhandv</h2>
            <div id="text-center"><span>Đảm bảo tỷ lệ đầu 100%</span></div>
            <div id="describe">
                <div>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up_off_alt</mat-icon>Chất lượng uy tín</div>
                <div>
                    <mat-icon>mood</mat-icon>Tận tâm và nhiệt tình</div>
                <div>
                    <mat-icon>assignment</mat-icon>Rỏ ràng và minh bạch</div>
                <div>
                    <mat-icon>watch_later</mat-icon>Đào tạo ngắn hạn</div>
            </div>
        </div>
        <div class="image">
            <img src="../../assets/image/IMG_3886_thumb.jpg" alt="ảnh minh họa">
        </div>
    </div>
</div>
<div class="content-2">
    <h2>DANH SÁCH CÁC KHÓA HỌC</h2>
    <div class="course">
        <div class="course-image"><img src="../../assets/image/IMG_3886_thumb.jpg" alt="Ảnh đại diện khóa học"></div>
        <div class="course-detail">
            <h2 class="course-name">Học bằng lái xe B1</h2>
            <p class="course-fee">Học phí: 8.000.000đ</p>
            <p class="course-describe">Trung tâm dạy lái xe Hà An là đơn vị chuyên đào tạo học lái xe oto bằng B1 số tự động uy tín, giá cả hợp lý, giáo trình đầy đủ với hơn 90 giáo viên và 12 sân tập phủ khắp quận huyện mở lớp chiêu sinh thường xuyên.</p>
        </div>
        <div class="button">
            <a href="" mat-raised-button color="primary">Chi tiết</a>
            <a href="#formdangky" mat-raised-button color="accent">Đăng ký</a>
        </div>
    </div>
    <div class="course">
        <div class="course-image"><img src="../../assets/image/IMG_3886_thumb.jpg" alt="Ảnh đại diện khóa học"></div>
        <div class="course-detail">
            <h2 class="course-name">Học bằng lái xe B1</h2>
            <p class="course-fee">Học phí: 8.000.000đ</p>
            <p class="course-describe">Trung tâm dạy lái xe Hà An là đơn vị chuyên đào tạo học lái xe oto bằng B1 số tự động uy tín, giá cả hợp lý, giáo trình đầy đủ với hơn 90 giáo viên và 12 sân tập phủ khắp quận huyện mở lớp chiêu sinh thường xuyên.</p>
        </div>
        <div class="button">
            <a href="" mat-raised-button color="primary">Chi tiết</a>
            <a href="#formdangky" mat-raised-button color="accent">Đăng ký</a>
        </div>
    </div>
    <div class="course">
        <div class="course-image"><img src="../../assets/image/IMG_3886_thumb.jpg" alt="Ảnh đại diện khóa học"></div>
        <div class="course-detail">
            <h2 class="course-name">Học bằng lái xe B1</h2>
            <p class="course-fee">Học phí: 8.000.000đ</p>
            <p class="course-describe">Trung tâm dạy lái xe Hà An là đơn vị chuyên đào tạo học lái xe oto bằng B1 số tự động uy tín, giá cả hợp lý, giáo trình đầy đủ với hơn 90 giáo viên và 12 sân tập phủ khắp quận huyện mở lớp chiêu sinh thường xuyên.</p>
        </div>
        <div class="button">
            <a href="" mat-raised-button color="primary">Chi tiết</a>
            <a href="#formdangky" mat-raised-button color="accent">Đăng ký</a>
        </div>
    </div>
</div>
<div class="content-3" id="formdangky">
    <div>
        <h2>Đăng ký khóa học tại</h2>
        <h2>Trung tâm</h2>
        <hr>
        <form (ngSubmit)="onSubmit()" [formGroup]="formRegis">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="res_email" matInput type="text">
                <mat-error *ngIf="formRegis.get('res_email').hasError('required')">Vui lòng nhập email!</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Họ và tên</mat-label>
                <input formControlName="res_name" matInput type="text">
                <mat-error *ngIf="formRegis.get('res_name').hasError('required')">Vui lòng nhập tên!</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <input formControlName="res_phone" matInput type="text">
                <mat-error *ngIf="formRegis.get('res_phone').hasError('required')">Vui lòng nhập số điện thoại!</mat-error>
                <mat-error *ngIf="!formRegis.get('res_phone').hasError('required') && formRegis.get('res_phone').hasError('pattern')">Vui lòng nhập đúng định dạng!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Loại bằng lái</mat-label>
                <mat-select formControlName="res_type">
                    <mat-option value="B1">B1</mat-option>
                    <mat-option value="B2">B2</mat-option>
                    <mat-option value="C1">C1</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="accent">Đăng ký</button>
        </form>
    </div>
</div>