<!-- <app-sidenav></app-sidenav>
<div class="body">
    <app-toolbar></app-toolbar> -->
<div class="content">
    <h2>Thêm tài khoản mới</h2>
    <div class="btn_back">
        <a [routerLink]="['/admin/student']" routerLinkActive="router-link-active">
            <mat-icon>keyboard_backspace</mat-icon>Quay lại
        </a>
    </div>
    <div class="form_user">
        <h4>Thông tin tài khoản:</h4>
        <form [formGroup]="formStudent" (ngSubmit)="(!isUpdate) ? onSubmit() : onUpdate()">
            <mat-grid-list cols="2" rowHeight="9:1">

                <mat-grid-tile class="form_left">
                    <mat-form-field appearance="outline">
                        <mat-label>Họ và tên</mat-label>
                        <input formControlName="stu_name" matInput>
                        <mat-error *ngIf="formStudent.get('stu_name').hasError('required')">Vui lòng nhập họ và tên!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="form_right">
                    <mat-form-field appearance="outline">
                        <mat-label>Ngày sinh</mat-label>
                        <input type="date" formControlName="stu_birthday" matInput>
                        <mat-error *ngIf="formStudent.get('stu_birthday').hasError('required')">Vui lòng nhập họ và tên!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="stu_email" matInput>
                        <mat-error *ngIf="formStudent.get('stu_email').hasError('required')">Vui lòng nhập email!</mat-error>
                        <mat-error *ngIf="!formStudent.get('stu_email').hasError('required') && formStudent.get('stu_email').hasError('email')">Vui lòng nhập đúng định dạng!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="form_left issueType">
                    <span>Giới tính:</span>
                    <mat-radio-group aria-label="Select an option" formControlName="stu_gender">
                        <mat-radio-button value="0" [checked]="formStudent.value.stu_gender == '0'">Nam</mat-radio-button>
                        <mat-radio-button value="1" [checked]="formStudent.value.stu_gender == '1'">Nữ</mat-radio-button>
                        <mat-radio-button value="2" [checked]="(formStudent.value.stu_gender != '0') && (formStudent.value.stu_gender != '1')">Khác</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>

                <mat-grid-tile>
                </mat-grid-tile>

                <mat-grid-tile class="form_left">
                    <mat-form-field appearance="outline">
                        <mat-label>Số điện thoại</mat-label>
                        <input formControlName="stu_phone" matInput>
                        <mat-error *ngIf="formStudent.get('stu_phone').hasError('required')">Vui lòng nhập số điện thoại!</mat-error>
                        <mat-error *ngIf="!formStudent.get('stu_phone').hasError('required') && formStudent.get('stu_phone').hasError('pattern')">Vui lòng chỉ nhập số!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="form_right">
                    <mat-form-field appearance="outline">
                        <mat-label>Quốc tịch</mat-label>
                        <input formControlName="stu_national" matInput>
                        <mat-error *ngIf="formStudent.get('stu_national').hasError('required')">Vui lòng nhập số điện thoại!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
            <div class="form_image">
                <span class="input_file">Ảnh đại diện:</span><input type="file" (change)="onSelectFile($event)" accept="image/*"><br>
                <!--  -->
                <img [src]="url_image" height="200px">
                <mat-error *ngIf="formStudent.get('stu_image').hasError('required') && imageInvalid">Vui lòng chọn ảnh đại diện!</mat-error>
            </div>
            <mat-grid-list cols="2" rowHeight="9:1">

                <mat-grid-tile class="form_left">
                    <mat-form-field appearance="outline">
                        <mat-label>Số CMND</mat-label>
                        <input type="number" formControlName="stu_cmnd" matInput>
                        <mat-error *ngIf="formStudent.get('stu_cmnd').hasError('required')">Vui lòng chọn loại tài khoản!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="form_right">
                    <mat-form-field appearance="outline">
                        <mat-label>Ngày cấp</mat-label>
                        <input type="date" formControlName="stu_cardDate" matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="form_left">
                    <mat-form-field appearance="outline">
                        <mat-label>Nơi cấp</mat-label>
                        <input formControlName="stu_cardIssue" matInput>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <mat-form-field style="width: 100%;" class="example-full-width" appearance="outline">
                        <mat-label>Địa chỉ</mat-label>
                        <input formControlName="stu_address" matInput>
                        <mat-error *ngIf="formStudent.get('stu_address').hasError('required')">Vui lòng nhập địa chỉ!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <mat-form-field style="width: 100%;" class="example-full-width" appearance="outline">
                        <mat-label>Nơi ở thường trú</mat-label>
                        <input formControlName="stu_residence" matInput>
                        <mat-error *ngIf="formStudent.get('stu_residence').hasError('required')">Vui lòng nhập nơi ở thường trú!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
            <div class="form-btn">
                <button *ngIf="!isUpdate" type="submit" mat-raised-button color="primary">Thêm mới</button>
                <button *ngIf="isUpdate" type="submit" mat-raised-button color="primary">Cập nhật</button>
                <button type="reset" mat-raised-button color="secondary">Làm mới</button>
            </div>
        </form>
    </div>
</div>
<!-- <app-back-footer></app-back-footer>
        </div> -->