<div class="content">
    <h2>Chi tiết Lớp học</h2>
    <div class="btn_back">
        <a [routerLink]="['/admin/class/complete']" routerLinkActive="router-link-active">
            <mat-icon>keyboard_backspace</mat-icon>Quay lại
        </a>
    </div>
    <div class="btn-detail">
        <button mat-raised-button color="primary" (click)="updateStatus(id)">Hoàn thành lớp học</button>
    </div>
    <div class="info">
        <h4>Thông tin chi tiết:</h4>
        <mat-grid-list cols='6' rowHeight='35px' style="width: 90%; margin: 0 auto;">
            <mat-grid-tile class="list_header">Tên lớp học:</mat-grid-tile>
            <mat-grid-tile class="bold">{{ data?.cla_name }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Giáo viên chủ nhiệm:</mat-grid-tile>
            <mat-grid-tile class="border-right">
                <span *ngIf="data?.tea_name" style="color: blue; font-weight: bold;"> {{data?.tea_name}} </span>
                <span *ngIf="!data?.tea_name" style="color: red; font-weight: bold;"> Chưa phân công </span>
            </mat-grid-tile>

            <mat-grid-tile class="list_header">Học phí:</mat-grid-tile>
            <mat-grid-tile>{{ data?.cla_fee | number }} VNĐ</mat-grid-tile>

            <mat-grid-tile class="list_header">Mã khóa học:</mat-grid-tile>
            <mat-grid-tile class="bold red">{{ data?.cou_name }}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Số lượng học viên:</mat-grid-tile>
            <mat-grid-tile class="border-right">{{data?.cla_number}}/{{data?.cla_quantity}}</mat-grid-tile>

            <mat-grid-tile class="list_header">Ngày khai giảng:</mat-grid-tile>
            <mat-grid-tile>{{ data?.cla_start | date : 'dd/MM/yyyy' }}</mat-grid-tile>

            <mat-grid-tile class="list_header">Tổng số tiết học:</mat-grid-tile>
            <mat-grid-tile class="bold red">{{ data?.cla_diary }}/{{data?.cla_count}}</mat-grid-tile>

            <mat-grid-tile class="border-left list_header">Số tiết lý thuyết:</mat-grid-tile>
            <mat-grid-tile class="border-right">{{countTheory}}</mat-grid-tile>

            <mat-grid-tile class="list_header">Số tiết thực hành:</mat-grid-tile>
            <mat-grid-tile>{{ countPractice }}</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="table">
        <h4>Danh sách tiết học:</h4>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="di_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày học </th>
                <td mat-cell *matCellDef="let element"> {{element.di_date | date : 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="di_content">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung </th>
                <td mat-cell *matCellDef="let element"> {{element.di_content}} </td>
            </ng-container>

            <ng-container matColumnDef="di_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Loại </th>
                <td mat-cell *matCellDef="let element"> {{(element.di_type == 0)? 'Lý thuyết':'Thực hành'}} </td>
            </ng-container>

            <ng-container matColumnDef="di_start">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian bắt đầu </th>
                <td mat-cell *matCellDef="let element"> {{element.di_start}} </td>
            </ng-container>

            <ng-container matColumnDef="di_end">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Thời gian kết thúc </th>
                <td mat-cell *matCellDef="let element"> {{element.di_end}} </td>
            </ng-container>

            <ng-container matColumnDef="di_location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa điểm </th>
                <td mat-cell *matCellDef="let element"> {{element.di_location}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>