<!-- <div class="body">
    <app-toolbar></app-toolbar> -->
<div class="content">
    <h2>Danh sách giáo viên</h2>
    <div class="search">
        <mat-grid-list cols="4" rowHeight="4:1">
            <mat-grid-tile>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mã giáo viên</mat-label>
                    <input matInput name="tea_code" [(ngModel)]="tea_code">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Họ và tên</mat-label>
                    <input matInput name="name" [(ngModel)]="name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width" appearance="outline">
                    <!-- <mat-label>Trạng thái</mat-label> -->
                    <!-- <mat-select name="type" [(ngModel)]="type">
                        <mat-option value="-1">Tất cả</mat-option>
                        <mat-option value="0">Đang dạy học</mat-option>
                        <mat-option value="1">Chưa phân lớp</mat-option>
                    </mat-select> -->
                    <mat-label>Email</mat-label>
                    <input matInput name="email" [(ngModel)]="email">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile class="search_btn">
                <button mat-raised-button color="primary" (click)="onSearch()">Tìm kiếm</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="table">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
                <td mat-cell *matCellDef="let i= index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="tea_code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã giáo viên </th>
                <td mat-cell *matCellDef="let element"> {{element.tea_code}} </td>
            </ng-container>

            <ng-container matColumnDef="tea_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên </th>
                <td mat-cell *matCellDef="let element"> {{element.tea_name}} </td>
            </ng-container>

            <ng-container matColumnDef="tea_email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.tea_email}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="tea_image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ảnh đại diện </th>
                <td mat-cell *matCellDef="let element"> <img [src]="element.tea_image" height="100px" width="100px"> </td>
            </ng-container> -->

            <ng-container matColumnDef="tea_phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.tea_phone}} </td>
            </ng-container>

            <ng-container matColumnDef="tea_gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.tea_gender != 1">Nam</span>
                    <span *ngIf="element.tea_gender == 1">Nữ</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="tea_birthday">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày sinh </th>
                <td mat-cell *matCellDef="let element"> {{element.tea_birthday | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="cla_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
                <td mat-cell *matCellDef="let element">
                    <span class="badge-primary" *ngIf="element.cla_status == 0">Chưa phân lớp</span>
                    <span class="badge-info" *ngIf="element.cla_status > 0">Đang dạy học</span>
                </td>
            </ng-container> -->

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành động</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item [routerLink]="['/admin/teacher/detail/'+ element.tea_id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #024888;">visibility</mat-icon>Chi tiết</a>
                        <a mat-menu-item [routerLink]="['/admin/teacher/edit/'+ element.tea_id]" routerLinkActive="router-link-active">
                            <mat-icon style="color: #024888;">border_color</mat-icon>Cập nhật</a>
                        <a mat-menu-item (click)="deleteTeacher(element.tea_id)">
                            <mat-icon style="color: red;">delete</mat-icon>Xóa tài khoản</a>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
<!-- <app-back-footer></app-back-footer>
    </div> -->