* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #ecf3fd;
    padding-bottom: 25px;
}

.body .content {
    width: 70%;
    background-color: white;
    padding: 10px 25px;
    margin: 0 auto;
    overflow: hidden;
}

.body .content h2 {
    font-size: 24px;
    border-bottom: 2px solid black;
    color: #024888;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: uppercase;
}

.content .content-detail {
    min-width: 585px;
    width: 67%;
    float: left;
}

mat-expansion-panel {
    margin: 15px 0px;
}

mat-expansion-panel mat-expansion-panel-header {
    background-color: #C4C4C4;
    height: 40px !important;
}

mat-panel-title {
    font-weight: 600;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

//Card
.card {
    width: 32%;
    min-width: 315px;
    // border: 1px solid green;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    background-color: #c4c4c45d;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 0px;
    text-align: center;
    margin-bottom: 2px;
}

.card-course h4 {
    background-color: #1B75BB;
}

.card-course .card-content {
    display: flex;
    flex-direction: column;
}

.card-course .card-content a {
    display: block;
    color: #0083C9;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 15px;
}