<app-front-header></app-front-header>
<app-breadcrumb name="Câu hỏi thường gặp"></app-breadcrumb>
<div class="body">
    <div class="content">
        <h2>Câu hỏi thường gặp</h2>
        <div class="content-detail">
            <mat-accordion>
                <mat-expansion-panel [expanded]='true'>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Khi đăng ký học tại trung tâm cần chuẩn bị gì?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nibh, tempor non efficitur vel, dignissim at velit. Donec vestibulum eget sapien non pretium. Nullam sollicitudin urna eget leo eleifend, sed gravida sapien dignissim.
                        In tristique, lorem a commodo finibus, ante enim venenatis purus, et faucibus purus lectus eu massa. </p>
                    <p>Phasellus a consectetur ex, quis ornare tortor. Fusce vitae turpis nisl. Maecenas accumsan arcu vel neque blandit, non porttitor mi scelerisque. Sed blandit, ante et mattis volutpat, risus enim volutpat arcu, et ultrices nunc libero
                        et tortor. Quisque ornare ligula est, ut sodales dui lacinia at. Aenean tortor neque, fermentum eget pulvinar vel, dapibus ac augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eleifend
                        dapibus sapien ut euismod. Nunc rhoncus nunc nec fringilla fermentum. Fusce dui diam, facilisis nec risus vel, blandit eleifend leo. Nullam facilisis est eu gravida interdum. Nullam sed tincidunt ligula, aliquet placerat dolor.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Chính sách bảo mật thông tin người dùng?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nibh, tempor non efficitur vel, dignissim at velit. Donec vestibulum eget sapien non pretium. Nullam sollicitudin urna eget leo eleifend, sed gravida sapien dignissim.
                        In tristique, lorem a commodo finibus, ante enim venenatis purus, et faucibus purus lectus eu massa. </p>
                    <p>Phasellus a consectetur ex, quis ornare tortor. Fusce vitae turpis nisl. Maecenas accumsan arcu vel neque blandit, non porttitor mi scelerisque. Sed blandit, ante et mattis volutpat, risus enim volutpat arcu, et ultrices nunc libero
                        et tortor. Quisque ornare ligula est, ut sodales dui lacinia at. Aenean tortor neque, fermentum eget pulvinar vel, dapibus ac augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eleifend
                        dapibus sapien ut euismod. Nunc rhoncus nunc nec fringilla fermentum. Fusce dui diam, facilisis nec risus vel, blandit eleifend leo. Nullam facilisis est eu gravida interdum. Nullam sed tincidunt ligula, aliquet placerat dolor.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Các hành vi bị nghiêm cấm?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nibh, tempor non efficitur vel, dignissim at velit. Donec vestibulum eget sapien non pretium. Nullam sollicitudin urna eget leo eleifend, sed gravida sapien dignissim.
                        In tristique, lorem a commodo finibus, ante enim venenatis purus, et faucibus purus lectus eu massa. </p>
                    <p>Phasellus a consectetur ex, quis ornare tortor. Fusce vitae turpis nisl. Maecenas accumsan arcu vel neque blandit, non porttitor mi scelerisque. Sed blandit, ante et mattis volutpat, risus enim volutpat arcu, et ultrices nunc libero
                        et tortor. Quisque ornare ligula est, ut sodales dui lacinia at. Aenean tortor neque, fermentum eget pulvinar vel, dapibus ac augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eleifend
                        dapibus sapien ut euismod. Nunc rhoncus nunc nec fringilla fermentum. Fusce dui diam, facilisis nec risus vel, blandit eleifend leo. Nullam facilisis est eu gravida interdum. Nullam sed tincidunt ligula, aliquet placerat dolor.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Chính sách đào tạo tại trung tâm?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nibh, tempor non efficitur vel, dignissim at velit. Donec vestibulum eget sapien non pretium. Nullam sollicitudin urna eget leo eleifend, sed gravida sapien dignissim.
                        In tristique, lorem a commodo finibus, ante enim venenatis purus, et faucibus purus lectus eu massa. </p>
                    <p>Phasellus a consectetur ex, quis ornare tortor. Fusce vitae turpis nisl. Maecenas accumsan arcu vel neque blandit, non porttitor mi scelerisque. Sed blandit, ante et mattis volutpat, risus enim volutpat arcu, et ultrices nunc libero
                        et tortor. Quisque ornare ligula est, ut sodales dui lacinia at. Aenean tortor neque, fermentum eget pulvinar vel, dapibus ac augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eleifend
                        dapibus sapien ut euismod. Nunc rhoncus nunc nec fringilla fermentum. Fusce dui diam, facilisis nec risus vel, blandit eleifend leo. Nullam facilisis est eu gravida interdum. Nullam sed tincidunt ligula, aliquet placerat dolor.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Quy định chung?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nibh, tempor non efficitur vel, dignissim at velit. Donec vestibulum eget sapien non pretium. Nullam sollicitudin urna eget leo eleifend, sed gravida sapien dignissim.
                        In tristique, lorem a commodo finibus, ante enim venenatis purus, et faucibus purus lectus eu massa. </p>
                    <p>Phasellus a consectetur ex, quis ornare tortor. Fusce vitae turpis nisl. Maecenas accumsan arcu vel neque blandit, non porttitor mi scelerisque. Sed blandit, ante et mattis volutpat, risus enim volutpat arcu, et ultrices nunc libero
                        et tortor. Quisque ornare ligula est, ut sodales dui lacinia at. Aenean tortor neque, fermentum eget pulvinar vel, dapibus ac augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eleifend
                        dapibus sapien ut euismod. Nunc rhoncus nunc nec fringilla fermentum. Fusce dui diam, facilisis nec risus vel, blandit eleifend leo. Nullam facilisis est eu gravida interdum. Nullam sed tincidunt ligula, aliquet placerat dolor.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Các quyền hạn có được khi là học viên của trung tâm?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nibh, tempor non efficitur vel, dignissim at velit. Donec vestibulum eget sapien non pretium. Nullam sollicitudin urna eget leo eleifend, sed gravida sapien dignissim.
                        In tristique, lorem a commodo finibus, ante enim venenatis purus, et faucibus purus lectus eu massa. </p>
                    <p>Phasellus a consectetur ex, quis ornare tortor. Fusce vitae turpis nisl. Maecenas accumsan arcu vel neque blandit, non porttitor mi scelerisque. Sed blandit, ante et mattis volutpat, risus enim volutpat arcu, et ultrices nunc libero
                        et tortor. Quisque ornare ligula est, ut sodales dui lacinia at. Aenean tortor neque, fermentum eget pulvinar vel, dapibus ac augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eleifend
                        dapibus sapien ut euismod. Nunc rhoncus nunc nec fringilla fermentum. Fusce dui diam, facilisis nec risus vel, blandit eleifend leo. Nullam facilisis est eu gravida interdum. Nullam sed tincidunt ligula, aliquet placerat dolor.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="card card-course">
            <h4 class="card-header">Các khóa đào tạo</h4>
            <div class="card-content">
                <a href="">+ Khóa học lái xe bằng B1</a>
                <a href="">+ Khóa học lái xe bằng B2</a>
                <a href="">+ Khóa học lái xe bằng C1</a>
            </div>
        </div>
    </div>
</div>
<app-front-footer></app-front-footer>